th {
	background-color: #F0F0F0;
	padding: 20px 20px 20px 20px;
	text-align: center;
	font-size: 20px;
}
.orange {
	background-color: orange;
	color: green;
	border-style: solid;
	border-width: 2px;
	border-color: black;

}
 .purple {
	background-color: #ff00ff;
	color: black;
	border-style: solid;
	border-width: 2px;
	border-color: black;

}
.blue {
	background-color: #00bfff;
	color: black;
	border-style: solid;
	border-width: 2px;
	border-color: black;

}
.yellow {
	background-color: #ffff00;
	color: black;
	border-style: solid;
	border-width: 2px;
	border-color: black;

}
td a{
	background-color: #575757;
	padding: 20px 20px 20px 20px;
	text-align: center;
	font-size: 20px;
	color: #F0F0F0;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

body {
	font-family: Arial;
}
a:hover {
	color: #F0F0F0;
	background-color: #575757;

}
